/node_modules
/public/hot
/public/storage
/public/images/demo
/public/sitemap.xml
/storage/*.key
/storage/*.index
/storage/installed
/storage/logs/**
/storage/app/analytics-api.json
/vendor/**
!/vendor/helper_functions.php
/.idea
/.vagrant
.sass-cache/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
.DS_Store
.env.demo
.env
/composer1.phar