APP_NAME=zCart
APP_ENV=production
APP_KEY=base64:4upQcf3xbzrIQzQ9TbO4wSW4Lyn6N9gbv8+PzIfTlVc=
APP_DEBUG=false
APP_LOG=daily
APP_LOG_ACTIVITY=true
APP_LOG_LEVEL=error
APP_URL=http://example.com
APP_DEMO=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=zcart
DB_USERNAME=zcart
DB_PASSWORD=secret

COOKIE_CONSENT_ENABLED=true
SUBSCRIPTION_ENABLED=true
SUBSCRIPTION_BILLING=stripe
VENDOR_GET_PAID=directly
CUSTOMER_HAS_WALLET=true

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=log
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=user
MAIL_PASSWORD=secret
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=No-Reply
MAIL_REPLY_TO_ADDRESS=reply@example.com
MAIL_REPLY_TO_NAME=Reply

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

SLACK_WEBHOOK_URL=
SLACK_CHANNEL=
SLACK_USERNAME=
SLACK_ICON=

MAILCHIMP_APIKEY=
MAILCHIMP_LIST_ID=

FB_CLIENT_ID=
FB_CLIENT_SECRET=
FB_REDIRECT_URL=https://example.com/customer/login/facebook/callback

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URL=https://example.com/customer/login/twitter/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=https://example.com/customer/login/google/callback

FILESYSTEM_DRIVER=public
FILESYSTEM_CLOUD=s3

BACKUP_DISK=local
BACKUP_PREFIX=backup_
BACKUP_EMAIL=example@demo.com
BACKUP_KEEP_DAYS=7

GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=

AWS_KEY=
AWS_SECRET=
AWS_REGION=
AWS_BUCKET=

RACKSPACE_USER=
RACKSPACE_KEY=
RACKSPACE_CONTAINER=
RACKSPACE_REGION=IAD

SFTP_HOST=
SFTP_USER=
SFTP_PASSWORD=
SFTP_PORT=22

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_CLIENT_ID=
STRIPE_ACCOUNT_ID=
STRIPE_WEBHOOK_SECRET=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_PARTNER_MERCHANT_ID=
PAYPAL_WEBHOOK_ID=
PAYPAL_SANDBOX_MODE=true

INSTAMOJO_API_KEY=
INSTAMOJO_AUTH_TOKEN=
INSTAMOJO_SANDBOX=true

PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET=
PAYSTACK_SANDBOX=true

CYBERSOURCE_MERCHANT_ID=
CYBERSOURCE_API_KEY_ID=
CYBERSOURCE_SECRET=
CYBERSOURCE_SANDBOX=true

AUTHORIZENET_API_LOGIN_ID=
AUTHORIZENET_TRANSACTION_KEY=
AUTHORIZENET_SANDBOX=true

JPRFPAY_MERCHANT_ID=
JPRFPAY_API_KEY=
JPRFPAY_SANDBOX=true

NEXMO_KEY=
NEXMO_SECRET=

SCOUT_DRIVER=tntsearch
SCOUT_QUEUE=false

TNTSEARCH_FUZZINESS=true
TNTSEARCH_BOOLEAN=false

ALGOLIA_APP_ID=
ALGOLIA_SECRET=
ALGOLIA_SEARCH=

GOOGLE_RECAPTCHA_KEY=
GOOGLE_RECAPTCHA_SECRET=

ANALYTICS_VIEW_ID=